/******************************** 
 * APP STYLES
 ********************************/

/* BEGIN General Styles
 ------------------------------*/

/* Color Variables */

:root {
  --green: #0f651d;
  --background: #e8e6b2;
  --gold: #ffc261;
  --gray: #504d4d;
  --white: rgb(211, 201, 201);
  --black: #000;
  --red: #b30a0a;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


body {
  font-family: "Barlow", BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--background);
  text-decoration: none;
  min-height: 100vh;
}


/* END General Styles
 ------------------------------*/
/* begin Nav styles */

.navWrapper {
 display: flex;
 flex-direction: row;
 margin-top: 7%;
} 

.logo {
  height: 7rem;
  margin-left:4.5%;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 4em;
  grid-column-gap: 2.5%; 
  margin-left: 2.5rem;
 } 
.navBtn {
  height: 3em;
  width: 5em;
  text-align: center;
  padding-top: .8em;
  background-color: var(--red);
  color: var(--black);
  font-size: 1em;
  font-weight: 800;
  text-decoration: none;
  border: 3px solid var(--background);
  border-radius: 15px;
}
.navBtn:hover,
.navBtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--black);
  transform: translateY(-0.25em);
}
.home{
  grid-column-start: 1;
  grid-row-start: 1;
}
.bio{
  grid-column-start: 2;
  grid-row-start: 1;
}
.projects{
  grid-column-start: 1;
  grid-row-start: 2;
}
.contact{
  grid-column-start: 2;
  grid-row-start: 2;
}
/* End Nav styles */
/* Begin Header Styles */

.title{
  color:var(--green);
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}
.subTitle{
  color:var(--green);
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  margin-top: -.75em;
}

.AdamsQuote {
  width: 60%;
  margin: 0 auto;
  background-color: var(--green);
  font-size:1.6rem;
  color:var(--gold);
  text-align: center;
}

.heroImgContainer {
  width: 100vw;
}
.hero{
  width:100vw;
  height:18rem;
  margin-top: -1rem;
}
/* End Header Styles */
/* Begin Footer Styles */
.footerWrapper{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 4rem 4rem; 
  background-color:var(--background);
  grid-column-gap:1rem;
  margin-top:4rem;
}

.logoFooter{
  height: 4rem;
  grid-column-start: 1;
  grid-row-start: 1;
  }

.copyright{
  font-size: 1.2rem;
  font-weight: 600;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  margin-top: -.5em;
}

.footerLink{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  height:4em;
}
/* End Footer Styles */
/* Begin About Styles */

.aboutTitle{
  font-size: 2.5em;
  text-align: center;
}
.aboutText{
  margin: 0 auto;
  line-height: 1.75;
  font-size: 1.3rem;
  width:80%;
  text-align:justify;
  padding:.8em;
}
/* End About Styles */
/* Begin Contact styles */
.contactTitle{
  font-size: 3rem;
  text-align: center;
}
.linksBar{
  margin-left:38%;
}
.links{
  height:6rem;
}
/* End Contact styles */
/* Begin Project styles */

.projWrapper{
  margin-left: .4rem;
}

.projTitle1{
  font-size: 1.7rem;
  margin-left: 26%;
}
.projTitle2{
  font-size: 1.7rem;
  margin-left: 17%;
}
.projTitle3{
  font-size: 1.6rem;
  margin-left: 2%;
}
.projimg{
  height:7rem;
  width:8rem;
  margin-left: 28%;
}
.proj1 {
  width:85%;
  line-height: 1.4;
  text-align: justify;
  margin: 0 auto;
  padding-top: 1rem;
}

.proj2{
  width:85%;
  line-height: 1.4;
  text-align: justify;
  margin: 0 auto;
  padding-top: 1rem;
}

.proj3{
  width:85%;
  line-height: 1.4;
  text-align: justify;
  margin: 0 auto;
  padding-top: 1rem;
}
.btnWrap{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: .25%;
}
.projBtnWrap2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem; 
  margin-left: 3rem;
}
.trybtn{
  height: 4em;
  width: 5em;
  text-align: center;
  padding-top: 1em;
  background-color: var(--red);
  color: var(--black);
  font-size: 1em;
  font-weight: 800;
  text-decoration: none;
  border: 3px solid var(--background);
  border-radius: 10px;
  margin-top: 5%;
}
.trybtn:hover,
.trybtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--black);
  transform: translateY(-0.25em);
}
.projectbtn{
  height: 4em;
  width: 5em;
  text-align: center;
  padding-top: 1.3em;
  background-color: var(--red);
  color: var(--black);
  font-size: 1em;
  font-weight: 800;
  text-decoration: none;
  border: 3px solid var(--background);
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 2%;
}
.projectbtn:hover,
.projectbtn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--black);
  transform: translateY(-0.25em);
}

/* End Project Styles */
/* Begin media query styles */
@media screen and (max-width: 375px){
  /* .footerWrapper{
    margin-top:100%;
  } */
  .logoFooter{
    height: 2.4rem;
    margin-left: 10%;
    }
    .footerLink{
      height: 3rem;
      margin-left: 6%;
    }
    .navBar {
      grid-column-gap: 2%; 
      margin-left: 2rem;
     } 
     .AdamsQuote{
       width: 80%;
     }
     .aboutTitle{
      font-size: 2em;
    }
    .aboutText{
      line-height: 1.5;
      font-size: 1rem;
      padding:.5em;
      width: 85%;
    }
    .links{
      height:4rem;
      margin-right: 20%;
    }
    .projectbtn{
      margin-left: 4%;
    }
    .trybtn{
      margin-left: 12%;
    }
    .linksBar{
      display: inline-flex;
      margin-left:25%;
      width: 80%;
    }
    
}

@media screen and (max-width: 450px){
  .navBar {
    grid-column-gap: 3%; 
    margin-left: 5rem;
   } 
   .AdamsQuote{
    width: 85%;
  }
  .linksBar{
    display: inline-flex;
    margin-left:28%;
  }
  .links{
    height:4rem;
    margin-left:0;
  }
  .logoFooter{
    height: 2.4rem;
    margin-left: 20%;
    }
    .footerLink{
      height: 3rem;
      margin-left: 8%;
    }
    .copyright{
      font-size: 1.2rem;
      margin-left: 8%;
    }
    .aboutText{
      line-height: 1.5;
      font-size: 1.2rem;
      padding:.5em;
      width: 85%;
    }
    .projectbtn{
      margin-left: 6%;
    }
    .trybtn{
      margin-left: 16%;
    }
    .projTitle1{
      font-size: 1.75rem;
      margin-left: 29%;
    }
    .projTitle2{
      font-size: 1.75rem;
      margin-left: 20%;
    }
    .projTitle3{
      font-size: 1.75rem;
      margin-left: 8%;
}
.projimg{
  height:9rem;
  width:10rem;
  margin-left: 30%;
}
}

@media screen and (max-width: 850px){
  .navBar {
    grid-column-gap: 3%; 
    margin-left: 26rem;
   } 
   .AdamsQuote{
    width: 80%;
  }
  .linksBar{
    display: inline-flex;
    margin-left:33%;
  }
  .links{
    height:4rem;
    margin-left: 40%;
  }
  .logoFooter{
    height: 7rem;
    margin-left:5%;
    }
    .footerLink{
      height: 3rem;
      margin-left: 8%;
    }
    .footerContact{
      display: inline-flex;
      margin-top: 12%;
      margin-left: 70%;
    }
    .copyright{
      font-size: 1.2rem;
      margin-left: 10%;
    }
    .aboutText{
      line-height: 1.5;
      font-size: 1.6rem;
      padding:.5em;
      width: 90%;
    }
    .btnWrap{
      margin-left: 10%;
    }
    .projBtnWrap2{
      margin-left: 20%;
    }
    .projectbtn{
      margin-left: 4%;
    }
    .trybtn{
      margin-left: 20%;
    }
    .projTitle1{
      font-size: 2rem;
      margin-left: 35%;
    }
    .projTitle2{
      font-size: 2rem;
      margin-left: 30%;
    }
    .projTitle3{
      font-size: 2rem;
      margin-left: 22%;
}
    .projimg{
      height:10rem;
      width:11rem;
      margin-left: 36%;
}
}

@media screen and (max-width: 1024px){
  .navBar {
    grid-column-gap: 3%; 
    margin-left: 65%;
   } 
   .AdamsQuote{
    width: 80%;
  }
  .linksBar{
    display: inline-flex;
    margin-left:38%;
  }
  .links{
    height:4rem;
    margin-left: 40%;
  }
  .logoFooter{
    height: 7rem;
    margin-left:15%;
    }
  .footerLink{
    height: 3rem;
    margin-left: 8%;
    }
    .footerContact{
      display: inline-flex;
      margin-top: 10%;
      margin-left: 70%;
    }
    .copyright{
      font-size: 1.2rem;
      margin-left: 10%;
    }
    .aboutText{
      line-height: 1.5;
      font-size: 1.7rem;
      padding:.5em;
      width: 90%;
    }
    .btnWrap{
      margin-left: 10%;
    }
    .projBtnWrap2{
      margin-left: 20%;
    }
    .projectbtn{
      margin-left: 4%;
    }
    .trybtn{
      margin-left: 20%;
    }
    .projTitle1{
      font-size: 2rem;
      margin-left: 40%;
    }
    .projTitle2{
      font-size: 2rem;
      margin-left: 37%;
    }
    .projTitle3{
      font-size: 2rem;
      margin-left: 33%;
}
    .projimg{
      height:12rem;
      width:13rem;
      margin-left: 40%;
}
  .proj1{
    font-size: 1.6rem;
  }
  .proj2{
    font-size: 1.6rem;
  }

  .proj3{
    font-size: 1.6rem;
  }
}
/* End media query styles */