/******************************** 
 * APP STYLES
 ********************************/

/* BEGIN General Styles
 ------------------------------*/

/* Color Variables */

:root {
  --green: #0f651d;
  --background: #d5c797;
  --gold: #ffc261;
  --gray: #504d4d;
  --white: rgb(211, 201, 201);
  --black: #000;
  --red: #b30a0a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  min-width: 100%;
}

body {
  font-family: "Barlow", -apple-systrem, BlinkMacSystremFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--background);
  text-decoration: none;
  min-height: 100vh;
}


/* END General Styles
 ------------------------------*/
/* begin Nav styles */

.navWrapper {
 display: grid;
 width: 40%;
 grid-template-columns:auto auto;
 grid-auto-rows: 5em;
 grid-column-gap: 50%;
} 

.logo {
  height: 10em;
  margin-left:4%;
  grid-column-start: 1;
  grid-row-start:1;
  margin-top:4%;
}

.navBar {
  height:7em;
  grid-column-start: 2;
  grid-row-start:1;
  
  margin-top: 4.3%;
}

.navBtn {
  height: 7em;
  padding:2rem 1rem;
  background-color: var(--red);
  color: var(--black);
  font-size: 1.3em;
  font-weight: 800;
  text-decoration: none;
}

/* Begin Header Styles */

.title{
  color:var(--green);
  font-weight: 900;
  font-size: 3em;
  text-align: center;
}
.subTitle{
  color:var(--green);
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  margin-top: -.75em;
}

.AdamsQuote {
  width: 60%;
  margin: 0 auto;
  background-color: var(--green);
  font-size:1.6rem;
  color:var(--gold);
  text-align: center;
}

.heroImgContainer {
  width: 100vw;
}
.hero{
  width:100vw;
  height:18rem;
  margin-top: -1rem;
}
/* End Header Styles */
/* Begin Footer Styles */
.footerWrapper{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 6rem; 
  background-color:var(--background);
 grid-column-gap:1rem;
 margin-top:10rem;
}

.logoFooter{
  height: 4rem;
  grid-column-start: 2;

  }

.copyright{
  font-size: 1.2rem;
  font-weight: 600;
  grid-column-start: 3;
  margin-top: 2em;
}
.footerLink{
  height:4em;
}
.footerLink{
  grid-column-start: 4;
  margin-top: 2.5rem;
}
/* End Footer Styles */
/* Begin About Styles */

.aboutTitle{
  font-size: 2.5em;
  text-align: center;
}
.aboutText{
  margin: 0 auto;
  line-height: 1.75;
  font-size: 1.3rem;
  width:80%;
  text-align:justify;
  padding:.8em;
}
/* End About Styles */
/* Begin Contact styles */
.contactTitle{
  font-size: 3rem;
  text-align: center;
}
.linksBar{
  margin-left:38%;
}
.links{
  height:6rem;
}
/* End Contact styles */
/* Begin Project styles */

.projWrapper{
  display:grid;
  grid-template-columns:auto auto;
 grid-auto-rows: auto auto auto;
 grid-row-gap:5%;
}



.projimg{
  height:7rem;
  width:8rem;
  grid-column-start: 1;
}
.proj1{
  grid-row-start: 1;
}

.proj2{
  grid-row-start: 2;
}

.proj3{
  grid-row-start:3;
}
/* End Project Styles */
